.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 10px;
    border: 3px solid black;
    margin: 20px auto;

    &__input {
        width: 100%;
        border: none;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    &__button {
        position: relative;
        right: 20px;
        width: 20%;
        font-size: 1.2rem;
        border: none;
        background: none;
    }
}