.my-todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__header {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
  }
}